@page "/MyTasks/{date?}"
@model trinetra.Pages.MyTasksModel
@{
    ViewData["Title"] = "My Tasks";
}
<h2>My Tasks for @Model.Date.ToShortDateString()</h2>
<table class="table">
@foreach(var t in Model.Tasks)
{
    <tr>
        <td>@t.Title</td>
        <td>
            <select class="form-select status" data-id="@t.TaskItemId">
            @foreach (var s in Model.Statuses)
            {
                <option value="@s.StatusId" selected="@(s.StatusId==t.StatusId)">@s.Name</option>
            }
            </select>
        </td>
    </tr>
}
</table>
@section Scripts{
<script>
$(function(){
    $('.status').change(function(){
        $.post('/MyTasks/UpdateStatus', { id: $(this).data('id'), statusId: $(this).val() });
    });
});
</script>
}
